<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xy.shuhua"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"
              android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
            android:name=".ui.CustomApplication"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <meta-data android:name="com.xy.shuhua.util.glide.GlideConfiguration"
                   android:value="GlideModule"/>
        <activity android:name=".ui.ActivityMain"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.ActivityLogin"
                  android:screenOrientation="portrait"
                  android:theme="@style/StyledIndicators">
        </activity>
        <activity android:name=".ui.user.ActivityRegister"
                  android:screenOrientation="portrait"
                  android:theme="@style/StyledIndicators">
        </activity>
        <activity android:name=".ui.art.ActivityArtTypeInfo"
                  android:screenOrientation="portrait"
                  android:theme="@style/StyledIndicators">
        </activity>
        <activity android:name=".ui.art.ActivityAuthorArtList"
                  android:screenOrientation="portrait"
                  android:theme="@style/StyledIndicators">
        </activity>
        <activity android:name=".ui.art.ActivityArtGoodsInfo"
                  android:screenOrientation="portrait"
                  android:theme="@style/StyledIndicators">
        </activity>
    </application>
</manifest>
